/* Button base styles */
.Button {
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 7px 15px;
  background-color: #9b22b9;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

/* Button styles on hover */
.Button:hover {
  border-color: transparent;
  color: #9b22b9;
  background-color: #ffffff;
  border: 1px solid #9b22b9;
  font-weight: 500;
}

/* Button styles when focused */
.Button:focus {
  background-color: #9b22b9;
}


/* Grey button base styles */
.GreyButton {
  background-color: #5c5c5c;
  border-color: transparent;

}

/* Grey button styles on hover */
.GreyButton:hover {
  border-color: transparent;
  color: black;
  background-color: #ffffff;
  border: 1px solid #808080;
}

/* Full width element */
.Width{
  width: 100%;
}

/* Button base styles (specific for comments) */
.CommentButton {
  background: linear-gradient(45deg, #fd8181, #ffaac7);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

/* Styles for the button when disabled */
.CommentButton:disabled {
  background: #aaaaaa;
  cursor: not-allowed;
}

/* Styles for the button on hover when enabled */
.CommentButton:hover:enabled {
  background: linear-gradient(45deg, #e1aaf7, #fa759f);
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Grey button base styles (specific for the comments) */
.GreyCommentButton {
  background-color: #b3b3b3;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

/* Styles for the grey button on hover */
.GreyCommentButton:hover{
    color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}
