
/* Container for individual comments */
.CommentContainer {
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}


/* Changes to the comment container on hover */
.CommentContainer:hover {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(128, 65, 153, 0.6);
}

/* Header of the comment including owner and date */
.CommentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

/* Owner's name styling in the comment header */
.CommentOwner {
  font-weight: 600;
  color: #5e35b1;
}

/* Date styling in the comment header */
.CommentDate {
  font-size: 0.85rem;
  color: #75797e;
  font-style: italic;
}

/* Content of the comment */
.CommentContent {
  color: #292727;
  line-height: 1.5;
}