.navContainer{
    border-bottom: 1px solid #c4c4c4;
}

.Logo{
    font-size: 1.8rem;
}

.Logo span{
    color: #9b22b9;
    font-weight: 900;
    border-top: 2px solid #9b22b9;
    border-bottom: 2px solid #9b22b9;
}


