.NotFoundContainer {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Asset {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.NotFoundMessage {
  font-size: 1.25rem;
  color: #555;
}

.HomeButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}