/* Container for the "Not Found" page */
.NotFoundContainer {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style message in "Not Found" */
.NotFoundMessage {
  font-size: 1.25rem;
  color: #555;
}
