.Container {
  border: 1px solid #e0d4f7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(155, 34, 185, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.avatarImage {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5e35b1;
  transition: filter 0.4s ease-in-out;
  text-decoration: none;
}

.avatarImage:hover{
  color: #5e35b1;
  text-decoration: none;
}

.avatarImage span {
  font-weight: bold;
}

.avatarImage:hover {
  filter: brightness(1.1);
}

.CardHeader {
  background-color: #f3e5f5;
  border-bottom: none;
}

.CardBody {
  background-color: #f8f0ff;
  padding: 10px;
}

.CardTitle {
  color: #6a1b9a;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.CardText {
  color: #7b1fa2;
  font-size: 1.1rem;
}

.CardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Alert {
  z-index: 99;
  position: fixed;
  top: 70px;
  right: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.SuccessAlert{
  background-color: #d0f5d8;
  color: #155724;
  border-left: 8px solid #28a745;
}

.ErrorAlert{
  background-color: #f5c6cb;
  color: #721c24;
  border-left: 8px solid #dc3545;
}

.Heart {
  color: #b57bcc;
  font-size: 1.2rem;
  cursor: pointer;
}

.Heart:hover{
  color: #8f34b3;
}

.Comment {
  font-size: 1.2rem;
}

.Flag {
  color: #f53434;
  font-size: 1.2rem;
  cursor: pointer;
}

.Flag:hover {
  color: #d33535;
}