.avatarImage {
  transition: filter 0.4s ease-in-out;
  color: #000000;
}

.avatarImage:hover {
  filter: brightness(1.1);
  color: #000000;
}

.Heart{
    color: #b57bcc;
    font-size: 1.2rem;
    cursor: pointer;
}


.Comment{
    font-size: 1.2rem;
}