.ProfileCard {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: #fff;
}

.PositionRelative{
  position: relative;
}

.PositionDropdown{
  position: absolute;
  top: 5px;
  right: 0;
}

.ProfileAvatar{
  object-fit: cover;
}