.App {
    font-family: "Nunito", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.Main{
    padding-top: 75px;
}

.Image {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
  }